
# --------------------------- IDE files & folders ---------------------------- #

.pyc
.idea
.env
.venv
.vscode

# --------------------------------- Logging ---------------------------------- #

log

# -------------------------- Django folders & files -------------------------- #

__pycache__
cache
media

# ----------------------------- Database files ------------------------------- #

*.sqlite3
